.navigationCardSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.navigationCardWrapper {  
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.navigationCard {
  border: 1px solid rgb(239, 232, 232);
  padding: 30px;
  border-radius: 15px;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigationCardHeader {
  margin: 0;
}

.navigationCardLink {
  margin: 0;
  cursor: pointer;
}

.navigationCard:hover {
  border: none;
  box-shadow: 2px 2px 78px 0px rgba(150, 147, 147, 0.3);
}

.navigationCardSubtitle {
  margin: 0;
}

.navigationCardArrow {
  display: inline-block;
  transition: all 0.4s;
  vertical-align: -2px;
}

.navigationCardLink:hover .navigationCardArrow {
  color: #d37b0e;
  transform: rotate(180deg);
}

@media (min-width: 340px) and (max-width: 767px) {
  
  .navigationCardSection {
    margin-bottom: 0;
  }
  
  .navigationCardWrapper {  
    flex-direction: column;
  }

  .navigationCard {
    margin-bottom: 20px;
    height: 150px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navigationCardWrapper {  
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navigationCardWrapper {  
    gap: 20px;
    padding: 0 20px;
  }
}