.appCard {
  height: 300px;
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 2rem;
}

.appCard::before {
  content: '';
  position: absolute;
  inset: -15px;
  z-index: -2;
  background-image: radial-gradient(#e2dfde 1px, transparent 0);
  background-size: 5px 5px;
  border-radius: 20px;
}

.appCard:hover::before {
  background-image: radial-gradient(#403e3e 1px, transparent 0);
}

.appCard::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #FDF5EF;
  z-index: -1;
  border-radius: inherit;
}

.appCardHeader {
  display: flex;
  z-index: 1;
}

.appCardHeader::before {
  height: 60px;
  width: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(237, 150, 96, 0.4);
  border-radius: 15px 15px 0 0;
  z-index: 0;
  padding-bottom: 10px;
}

.appCardTitle {
  width: 100%;
  margin: 0;
  padding-left: 10px;
  font-size: 1.4rem;
}

.appCardThumbnail {
  margin: 10px 0 10px 0;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1000;
}

.appCardThumbnail img {
  display: block;
  border-radius: 50%;
}

.appCardIcon img {
  z-index: 100;
  position: relative;
}

.appCardHeader h3{
  z-index: 10;
  position: relative;
  top: -5px;
  letter-spacing: 2px;
}

.appCardSubtitle {
  flex-grow: 1;
  margin-top: 30px;
  /* margin-bottom: 20px; */
  width: 80%;
  line-height: 30px;
}

.appCardButton {
  color: #2f4858;
  /* display: inline-block; */
  /* width: 30%; */
  position: relative;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 3px;
  z-index: 0;
  padding: 5px 24px 5px 0;
  /* text-align: right; */
  display: flex;
  justify-content: end;

}

.appCardButton::before {
  content: '';
  display: block;
  width: 110px;
  height: 125%;
  position: absolute;
  bottom: 2px;
  right: 0;
  z-index: -1;
  background-color: #b9a6ac;
  transition: all 0.3s ease;
}

.appCardButton:hover {
  opacity: 1;
}

.appCardButton:hover::before {
  height: 25%;
}

@media (min-width: 340px) and (max-width: 767px) {

  .appCard {
    width: 90%;
    height: auto;
  }

  .appCardThumbnail {
    margin: 5px 0 5px 0;
    top: 5px;
    right: 10px;
  }

  .appCardThumbnail img {
    display: block;
    height: 90px;
    width:auto;
  }

  .appCardIcon img {
    z-index: 100;
    position: relative;
    left: -15px;
  }

  .appCardTitle {
    font-size: 1.2rem;
    left: -15px;
    padding-top: 5px;
  }

  .appCardSubtitle {
  margin-bottom: 20px;
  }
  
}