.heroContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroHeader {
  font-size: 3.8rem;
  text-shadow: 1px 1px 1px white;
  text-align: center;
}

.heroSubtitle {
  font-size: 1.6rem;
  text-align: center;
  text-shadow: 1px 1px 1px white;
  width: 80%;
}

.heroHeader.clothes, .heroHeader.food, .heroHeader.electronics {
  color: rgb(245, 235, 235);
  text-shadow: 1px 1px 1px black;
  width: 80%;
  text-wrap: wrap;
}

.heroSubtitle.clothes, .heroSubtitle.food, .heroSubtitle.electronics {
  color: white;
  text-shadow: 1px 1px 1px black;
}

@media (min-width: 340px) and (max-width: 1024px) {

  .heroHeader {
    font-size: 2.8rem;
  }

  .heroSubtitle {
    font-size: 1.5rem;
  }
}