.footer {
  margin-top: 30px;
  padding-bottom: 20px;
  border: 1px solid rgb(239, 232, 232);
}

.footerSignature {
  text-align: center;
  font-size: 0.8rem;
}

@media (min-width: 340px) and (max-width: 1024px) {
  .footer {
    width: 100%;
  }
}