.appContainer {
  padding: 0 30px 30px 30px;
}

.appContainerHeader {
  text-align: center;
  font-size: 2.5rem;
}

.appCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

@media (min-width: 340px) and (max-width: 1024px) {
  .appContainer {
    padding: 0 10px 30px 10px;
  }

  .appContainerHeader {
    font-size: 2rem;
  }
}